
@font-face {
  font-family: 'Rubik Doodle Shadow'; 
  src: url('/fonts/main.ttf') format('truetype');

}


#root {
  width: 100%;
  height: 100%;

}

.container {
  justify-content: center;
  align-items: center;

}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  margin: 2% 7% 7% 7%;
 
}

.flex-item-left {
  background-color: #86bf00;
  flex: 50%;
  box-sizing: border-box;
  padding: 3%;
  border: 1px solid #fff; 
  border-radius: 10px;
}

.flex-item-right {
  background-color: #000000;
  flex: 50%;
  box-sizing: border-box;
  padding: 3%;
  border: 1px solid #fff; 
  border-radius: 10px;
  backdrop-filter: blur(1px); 
  -webkit-backdrop-filter: blur(5px); 

}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}


.heading {
  font-size: 3rem;
} 

.nft {
  height: auto;
  width: 60%;
  flex-wrap: wrap;
  will-change: filter;
  filter: drop-shadow(0 0 2.5em #b4ff05);
}

.nft:hover{
  filter: drop-shadow(0 0 4em #b4ff05);

}


nav {
  background-color: #333;
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: xx-large;
}

.logox {
  font-size: 24px;
  font-weight: bold;
  color: #86bf00;
  text-decoration: none;
  justify-content: left;
  font-size: xx-large;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

li {
  margin: 0;
}


@media (max-width: 768px) {
  ul {
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
  }

  .menu-icon {
    display: block;
  }

  .menu-list {
    display: none;
  }

  .menu-list.active {
    display: flex;
  }
}


.pagecontainer {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.xb{

 margin-right: 50px;
 padding: 3px;
}


.input-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 15px;
}

.xinput[type="text"] {
  padding: 15px;
  padding-right: 80px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 300px; 
  box-sizing: border-box;
  background-color: transparent;
  font-weight: 800;
}

.xbutton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 8px;
  margin: 5px 2px;
  border: none;
  border-radius: 0 5px 5px 0; 
  background-color: #86bf00;
  color: white;
  cursor: pointer;
  border-radius: 5px;

}

.xbutton:hover {
  background-color: #6a9504;
}

.user-list {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  gap: 10px; /* Space between each user info */
}

.user-info {
  display: flex; /* Use Flexbox for internal alignment */
  align-items: center; /* Vertically center items */
  gap: 8px; /* Space between index, address, and points */
}

.user-info span {
  white-space: nowrap; /* Prevent the text from wrapping */
}